.loginForm {
  width: 100%;
  height: 100%;
}

.loginFormGreetings h5 {
  font-size: 14px;
  color: var(--not-black);
  font-weight: 300;
}

.loginFormGreetings h3 {
  font-weight: 500;
  color: var(--access);
}

.loginFormGreetings {
  margin-top: 20px;
}

.formMd {
  width: 100%;
  text-align: center;
  margin: 32px auto 32px auto;
}
.formMd .formGroup {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.formGroup {
  margin-bottom: 16px;
  position: relative;
}
.formGroup input {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: var(--border-radius-big);
  margin: 20px 0;
  padding: 6px 4px 4px 14px;
  height: 50px;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.loginBtn {
  width: 100%;
  height: 45px;
  border-radius: var(--border-radius-big);
  outline: none;
  border: none;
  background-color: var(--access);
  color: var(--angel);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.formGroup label {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0%, -50%);
  left: 12px;
  text-align: left;
  display: inline-block;
  padding: 0 4px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px ;
  cursor: text;
  transition: all 0.15s ease-in-out;
}

.formGroup input:valid + label,
.formGroup input:focus + label {
  top: 0px;
  color: #000;
  font-weight: bold;
  background-color: white;
  text-transform: capitalize;
  color: var(--access);
}

.formGroup input:focus {
  border: 1px solid var(--access);
}

.forgotLink p {
  font-size: 14px;
  float: right;
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
  color: var(--not-black);
  margin-bottom: 30px;
}

.accessAlt {
  display: block;
}

.accessAltLinksSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 6px;
  width: 100%;
  border: 1px solid var(--access);
  height: 45px;
  border-radius: var(--border-radius-big);
  margin-bottom: 25px;
}

.accessAltLinksSpan p {
  margin: 0;
  text-transform: capitalize;
  color: var(--not-black);
  font-size: 14px;
}

.loginLogoContainer {
  background-color: rgba(0, 0, 0, 0.9);
  width: 80px;
  border-radius: var(--border-radius);
}

.facebook {
  padding-left: 20px;
}
