.commonPage{
    width: 91%;
    height: 100vh;
    margin: 0 auto;
}

.workOrderPosition{
    width: 95%;
    margin: 0 auto;
}

.commonPageTop{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    position: relative;
    height: 35px;
    align-items: center;
}

.pageTitle{
    font-weight: 500;
    font-size: 20px;
    color: var(--main-color);
    text-transform: capitalize;
}

.actionBtn{
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--main-color) !important;
    border: 1px solid #D4D4D8 !important;
    background-color: var(--angel) !important;
}

.action-dropdown-item{
    display: flex;
    gap: 5px;
    align-items: center;
}

.dropdown-menu li a{
    font-size: 14px;
}

.commonPageMiddle{
    display: flex;
    border-radius: var(--border-radius-small);
    padding-left: 30px;
    gap: 9px;
    background-color: var(--angel) !important;
    align-items: center;
    height: 30px;
}

.commonPageMiddle a{
    color: var(--main-color) ;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
}

.dividerCommonPage{
    background-color: var(--main-color);
    height: 15px;
    width: 1px;
}


.commonPageBottom{
    background-color: var(--angel);
    margin-top: 20px;
    border-radius: var(--border-radius-small);
}


.commonPageTab .nav-link{
    background-color: var(--main-bgcolor) !important;
    cursor: pointer;
    color: black !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 14px !important;
}


.commonPageTab .active{
    background-color: var(--main-color) !important;
    color: var(--angel) !important;
}

.commonPageBottom #myTab{
    padding: 20px !important;
    display: flex !important;
    gap: 2px !important;
}



.wOGreen{
    color: green;
}


.wORed{
    color: red;
}

.testBorder{
    margin-top: 30px;
}

