*{
    margin: 0;
}

.viewAll{
    text-decoration: none;
    color: var(--btnBg);
    font-size: 12px;
    text-transform: capitalize;
}

.singleReminder .New, .singleReminder .Complete, .singleReminder .Ongoing {
    list-style-type: circle;
}

.checkStatus p {
    font-size: 10px;
    font-weight: 700;
}

.New::marker {
    color: var(--red);
}

.Complete::marker {
    color: var(--green);
}

.Ongoing::marker {
    color: var(--orange);
}

.checkStatus .New{
    color: var(--red);
    margin: 0;
    text-align: center;
}

.checkStatus .Complete, .describeComplete .Complete{
    color: var(--green);
    margin: 0;
}


.checkStatus .Ongoing{
    color: var(--orange);
    margin: 0;
}

.reminderHeaderNStatus li{
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.paragraph1{
    font-size: 12px;
    color: var(--fallen-angel);
    margin: 0;
    width: fit-content;
}

.singleReminder{
    width: 100%;
    margin: 0;
    border-bottom: 1px solid var(--not-not-black);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.paragraph2{
    font-size: 10px;
    color: var(--not-black);
    margin: 0;
    width: 300px;
    margin-bottom: 5px;
}

.reminderToday{
    margin-bottom: 10px;
    color: black;
    font-weight: 500;
}

.reminderHeaderNStatus{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    gap: 8px;
}

.checkStatus{
    font-size: 12px;
}

.reminderLocationNDescribe{
    margin-left: 14px;
    margin-bottom: 5px;
}

.reminderButtons{
    margin: 0 14px;
    display: flex;
    justify-content: space-between;
}

.singleReminder:last-child{
    border-bottom: none;
}

.reviewBtn, .closeBtn{
    transition: all 0.3s ease-in-out;
}

.reviewBtn:hover{
    background-color: var(--see-through);
    border: 1px solid var(--btnBg);
    color: var(--btnBg);
}

.closeBtn:hover{
    background-color: var(--see-through);
    border: 1px solid var(--btnBg);
    color: var(--btnBg);
}

.calender{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}