.incidentNav, .incidetPrevNext, .incedentFlexBottom{
    display: flex;
}

.incidentFirstLastIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.incidentFirstLastIndex p{
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

.incedentFlexBottom{
    float: right;
    margin-top: 30px;
}


.incidentTd .Closed::marker{
    color: var(--green);
}

.incidentTd .Open::marker{
    color: var(--red);
}

.incidentTd .Ongoing::marker{
    color: var(--orange);
}

.table{
    margin: 0 5px;

}

tr:hover{
    cursor: pointer;
    background-color: var(--orange) !important;
}

.incidentTd li{
    font-size: 14px;
    font-weight: 600;
}

.incidentTdSmall{
    font-size: 13px;
}

.incidetPrevNext{
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.prev, .next{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--see-through);
    transition: all 0.3s ease-in-out;
}

.prev:hover, .next:hover{
    background-color: var(--fallen-angel);
}

.incedentFlexBottom, .recordsPerPage{
    font-size: 13px;
    color: var(--not-black);
    gap: 10px;
}

.statusOptions{
    display: flex;
    gap: 15px;
    margin: 30px 0 20px 0;
}

.singleStatusOption{
    width: 100px;
}

.recordsPerPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tableSearchBarPosition{
    display: flex;
    justify-content: right;
}

.red-bg{
    background-color: red !important;
}

.dashBoardTable .dashBoardTbody tr td{
    max-width: 0px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .requestTableDashboard{
    padding: 20px 30px;
  }

  