.WORKorderContainerMAIN {
  padding-top: 40px;
}

.stepInput {
  background-color: lightgray;
  width: 320px !important;
  padding: 0px 10px 0 10px !important;
  border-radius: 12px;
  height: 48px !important;
  text-align: center;
}

.notHeader {
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 350px !important;
  height: 35px !important;
  background: #ebebeb !important;
  margin-top: 4%;
  margin-bottom: -9%;
}

.innerAsset {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  height: 100%;
}

.checkBox {
  width: 320px;
  margin: 0px;
}

.MuiSvgIcon-root {
  width: 0.8em !important;
}

.stepFlex {
  margin-bottom: 20px;
}

.allStepAsset {
  padding: 0 30px;
}

.innerAsset div label {
  margin: 4px 0 0 8px;
}

.stepTopHeader {
  font-size: 17px;
  font-weight: 500;
  margin: 4% 0;
}

.stepFlex label {
  padding-top: 3px;
  padding-left: 10px;
  text-transform: capitalize;
  display: none;
}

/**
Work Order
**/

.workOrderInput {
  background-color: lightgray;
  width: 330px !important;
  border-radius: 12px;
  height: 45px !important;
  padding: 0px 10px 0 10px !important;
  border-bottom: none !important;
  margin-left: 0 !important;
}

.tabContainer {
  margin-bottom: 30px;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
}

.tabsNav {
  border-radius: 50%;
}

.stepBtnContainer {
  width: 100%;
  float: right;
}

.summarryStep {
  width: 100%;
}

.assetsSelect,
.asset-toggle {
  width: 350px !important;
  height: 35px !important;
  background-color: #f5f5f5 !important;
  margin-top: 4%;
  font-size: 14px !important;
}

.asset-toggle {
  color: black !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.categoryAssets {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  gap: 15%;
  width: 100%;
}

.assetNextBtn {
  float: right;
  margin-top: 20% !important;
  background-color: orange !important;
  width: 102px;
  height: 33px;
  flex-shrink: 0;
  font-size: 14px;
}

.assetPrevBtn {
  float: right;
  margin-top: 20% !important;
  background-color: white !important;
  color: orange !important;
  border: 1px solid orange !important;
  width: 102px;
  height: 33px;
  flex-shrink: 0;
  font-size: 14px;
}

.newWoBtn

.wOTabContainer {
  display: flex;
  align-items: center;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: white;
}

.newWorkOrder {
  padding: 30px 0;
}

.newWorkOrderInput {
  width: 350px !important;
}

.newWorkOrderCells {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.newWorkOrderCellsCheckBox {
  display: flex;
  gap: 2px;
  margin-top: 20px;
  width: 100%;
}

.newWorkOrderCellsCheckBox .checkbox-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #f1efef;
  padding: 0;
  padding-right: 12px !important;
  width: 86px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.checked-label {
  background-color: orange !important; /* Replace with the color you want */
}

.newWorkOrderCellsCheckBox .checkbox-button input {
  display: none;
}

.newWorkOrderCellsCheckBox .checkbox-button .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.newWorkOrderCellsAssetCategory
  .newWorkOrderCellsCheckBox
  .checkbox-button
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.newWorkOrderCellsCheckBox .checkbox-button input:checked + .checkmark {
  background-color: #2196f3;
}

.newWorkOrderCellsCheckBox .checkbox-button input:checked + .checkmark:after {
  display: block;
}

.newWorkOrderCellsCheckBox .checkbox-button .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.newWorkOrderSelectStep2 {
  width: 350px !important;
  display: flex !important;
  align-items: center !important;
  height: 34px !important;
  position: relative;
}

.first-option {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.last-option {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.newWOflex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.newWOflex p {
  margin-top: 20px !important;
}

.newWorkOrder select,
.newWorkOrder input {
  background-color: #f1efef;
  margin-top: 20px;
}

.form-label-newWO,
.additionalTeamHeader {
  margin-top: 10px;
  margin-top: 10px;

  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.333px;
}

.newWorkOrderSingleCellHolder {
  margin-top: 40px;
}

.newWorkOrderSingleCell .partsTable {
  width: 100%;
  min-height: 80px;
  border-radius: 6px !important;
  margin: 20px 0;
  margin-top: 0;
}

.partTableConatainer {
  border: 1px solid rgba(91, 91, 91, 0.1);
  padding: 30px 20px;
  padding-top: 0;
  width: 90%;
  border-radius: 8px;
  margin-top: 20px;
  height: 180px;
  position: relative;
}

.newWorkOrderSingleCell .partTableConatainer {
  border: 1px solid rgba(91, 91, 91, 0.1);
  padding: 30px 20px;
  padding-top: 0;
  width: 95.6%;
  border-radius: 8px;
  margin-top: 20px;
  height: 180px;
  position: relative;
}

.partsTable thead tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.partsTable thead tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.partsTable tBody tr {
  background-color: white !important;
  border-radius: 6px !important;
  border-bottom: 1px solid rgba(91, 91, 91, 0.1) !important;
  padding-bottom: 20px !important;
}

.partsTable tBody tr td {
  text-align: center;
  font-size: 13px;
  text-transform: capitalize;
  color: rgb(68, 68, 68);
}

.partsTable thead tr th {
  font-weight: 400 !important;
  font-size: 14.3px !important;
  color: rgb(177, 177, 177) !important;
  padding: 10px 15px !important;
  text-align: center;
  padding-bottom: 0px !important;
}

.partsTable thead tr {
  background-color: white;
  border-radius: 6px !important;
}

.partsTable thead tr:hover {
  background-color: white !important;
}

.newWorkOrder hr {
  margin: 30px 0;
  width: 100%;
}

.newWOTabs {
  border: white 1px solid !important;
  display: flex;
  align-items: center;
  gap: 20px;
  color: black !important;
  padding-left: 0;
}

.nav-tabs-newWo {
  border: white 1px solid !important;
}

.newWOTabs .active {
  border: none !important;
}

.checkWhite {
  color: white !important;
}

.newWoBtn {
  width: 95.6%;
  display: flex;
  justify-content: space-between;
}

.categoryAssetsFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.allEncompassing {
  width: 100%;
}

.checkListDropdown {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 10px;
}

.checkListDropdown p {
  margin-top: 20px;
}

/*line-height: 20px;*/

.partsTop {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.partTableConatainer a {
  color: orange;
  text-decoration: underline;
  float: right;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.otherInfoWo h3 {
  margin: 30px 0;
}

.partsForm {
  position: absolute;
  top: -40%;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 420px;
  width: 400px;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.partsFormOne{
  position: absolute;
  top: 10%;
  right: 33%;
  z-index: 100;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  z-index: 20;
  border-radius: 12px;
}

.partsFormInner {
  height: 80%;
  width: 80%;
  position: static;
  top: 0;
  bottom: 0;
}

.partsFormInner input,
.partsFormInner select {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  margin: 10px 0;
}

.newWorkOrderSingleCell {
  position: relative;
}

.partsFormInner button {
  float: right;
  color: white;
  background-color: orange;
  margin-top: 20px;
  padding: 4px 8px;
  border-radius: 6px;
}

.partsHeader {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.partsFormHide {
  display: none;
}

.dropdown-toggle-add-team {
  width: 350px !important;
  display: flex !important;
  justify-content: left !important;
  background-color: #f1efef !important;
  transition: all 0.3s ease-in-out;
  color: #c5c7cd;
  margin-top: 20px !important;
  height: 35px !important;
  font-size: 1rem !important;
}


.dropdown-toggle-add-team:hover {
  border: none !important;
  background-color: #f1efef !important;
  color: #c5c7cd !important;
  border: none !important;
}

.newWOflex .checkListDropdown {
  margin-bottom: 20px;
}

.WORKorderContainerMAINH4Top {
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.333px;
  margin-bottom: 20px;
}

.newWOTabs span {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.tBodyTd span {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.WoFade {
  color: #aaabb0 !important;
  font-size: 14px !important;
}

.summaryPTop,
.summaryBottom {
  font-size: 15px;
  color: black;
}

.summaryPTop {
  color: lightgray;
}

.summaryHeader {
  text-transform: uppercase;
}

.estimatedHours {
  margin-top: 30px;
}

.assetsContainerInSteps {
  margin-top: 33px !important;
  position: absolute;
  border: 1px solid rgb(207, 207, 207);
  width: 100%;
  border-radius: 4px;
}

.assetsSpan {
  position: relative;
}

.dropdownAdditionalTeam .dropdown-toggle::after {
  display: none;
}

.dropdownAdditionalTeam .dropdown-menu {
  border: none !important;
  width: 100% !important;
  padding-left: 20px !important;
  background-color: #f1efef;
  margin-top: 5px !important;
}

/* SUMMARY*/

.summaryMainHeader {
  margin-top: 30px;
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.333px;
}

.summaryHeader {
  color: rgba(0, 0, 0, 0.38);
  font-family: Mulish;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.333px;
}

.subHeaderSummary {
  color: rgba(0, 0, 0, 0.38);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.333px;
  text-transform: capitalize;
}

.mainInfoSummary {
  color: #000;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.333px;
  margin-bottom: 20px;
}

.blockSummary {
  display: block;
  line-height: 20px;
}

.summaryMainFlex {
  display: flex;
  gap: 10px;
}

.WOsummaryRight {
  width: 170px;
}

.workOrderSummary {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.priorityBtn {
  background-color: red;
  color: white;
  padding: 3px 10px;
  width: 69px;
  border-radius: 12px;
  height: 21px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 5px;
}

.submitWO {
  float: right;
  width: 102px;
  height: 33px;
  flex-shrink: 0;
  background-color: #d57d2ade !important;
  color: #fff;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-right: 20px;
}

.summarryStep hr {
  width: 90%;
  margin: 20px 0;
  color: #888888;
  margin-bottom: 0;
}

.summaryHeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.summaryHeaderContainer span {
  color: rgba(88, 69, 57, 0.87);
  display: flex;
  justify-content: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  width: 60px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.summaryHeaderContainer span:hover {
  border-radius: 12px;
  width: 60px;
  height: 30px;
  background-color: #d8d8d8;
  color: rgba(88, 69, 57, 0.87);
}

.submitWOContainer {
  width: 90%;
  margin-top: 50px;
}

.checkBox span {
  font-size: 14px;
}

.priorities .unselected-button {
  background-color: #d8d8d8;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.dropdown-toggle-add-team

.priorities .unselected-button:hover {
  background-color: orange !important;
}

.priorities .selected-button {
  background-color: orange;
  box-shadow: none;
}

.priorities {
  display: flex;
  gap: 4px;
  width: 91%;
}

.assetNextBtn .newWorkOrderCells .priorities button {
  width: calc(100% / 4);
  font-size: 12.5px !important;
  height: 34px;
  box-shadow: none;
}

.priorityMain {
  width: 100% !important;
}

.addChecklist {
  width: fit-content;
  height: 30px;
  flex-shrink: 0;
  fill: #fff;
  border: 1px solid rgba(88, 69, 57, 0.87);
  color: rgba(88, 69, 57, 0.87);
  border-radius: 4px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 18px;
  align-items: center;
  margin-top: 30px;
}

.checklistToggle .dropdown-toggle::after {
  display: none;
}

.checklistSearch {
  height: 30px;
  padding: 0 5px;
}

.checklistToggle .dropdown-menu.show {
  padding: 0 12px !important;
  padding-bottom: 12px !important;
}

.checklistList {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 2px;
}

.checklistList p {
  margin-top: 20px;
  color: #000;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.333px;
}

.checklistTable {
  width: 100% !important;
}

.checklistTableContainer {
  padding-left: 0;
  padding-right: 0;
  border-radius: 12px;
}

.pointerChecklistContainer{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checklistPointer{
  width: 10px;
  height: 10px;
  border: #c5c7cd 1px solid;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.checklistTable thead tr th {
  background-color: white !important;
  width: 100% !important;
  border-bottom: 1px solid rgba(91, 91, 91, 0.1) !important;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  color: rgba(88, 69, 57, 0.87);
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

.checklistTable thead tr th:hover,
.checklistTable tbody tr td:hover {
  background-color: white !important;
}

.checklistTable tbody tr td {
  background-color: white !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  transition: all 0.3s ease-in-out;
}

.checklistTable tbody tr td li {
  list-style: square;
}

/* 
font-weight: 500;

.summaryHeader{
  display; flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  border-radius: 12px;

  border: 1px solid rgba(88, 69, 57, 0.87); 
  color: rgba(88, 69, 57, 0.87);
  font-weight: 600;

  cursor: pointer;
 }

 transition: all 0.3s ease-in-out;

 .summaryHeaderContainer span:hover{
  border-radius: 8px;
  width: 40px;
  height: 20px;
  padding: 3px 8px;
  background-color: rgba(88, 69, 57, 0.87);
  color: #fff;
 }

 .submitWOContainer{
  width: 90%;
  margin-top: 50px;
 }

 .assetsContainerInSteps
 .form-label-newWO
 .checkBox span{

  font-size: 13px;
}

*/

/* SUMMARY*/

.selectNewContainerWO {
  width: 50%;
  margin-top: 20px;
}

.selectNewContainerWOHalf {
  width: 354px;
}

.newWorkOrderCellsAssetCategory {
  margin-top: 40px;
}

.newWorkOrderCells select {
  height: 34px !important;
  display: flex !important;
  align-items: center !important;
}

.newWOTabs span .newWorkOrder select,
.newWorkOrder input {
  height: 34px !important;
  border: none !important;
  color: #c5c7cd;
}

.newWorkOrderCells div .selectNewContainerWO2 select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  display: flex;
  align-items: center;
  border: none !important;
  color: #c5c7cd !important;
}

.selectNewContainerWO2 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 34px;
}

.additionalTeamHeader {
  color: black;
}

.selectNewIconWO {
  top: 50%;
  transform: translateY(50%);
  right: 10px !important;
}

.newWorkOrder .workOrderHRmain {
  width: 95.6%;
}


.partsFormEdit{
  width: 100%;
  right: 0;
  top: 0;
  padding: 25% 0;
  position: fixed;
  border-radius: 12px;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0,0.3));
}

.fixedPartsContainer{
  width: 100%;
  right: 0;
  top: 0;
  padding: 25% 0;
  position: fixed;
  border-radius: 12px;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0,0.3));
  z-index: 121;
}

.partsFormEditForm{
  width: 50%;
  background-color: white;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
  border-radius: 12px;
}

.partsFormEditFormHolder{
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.partsFormEditFormHolder .partsFormInner input{
  width: 70%;
  transform: translateX(20%);
  background: #F1EFEF;
  padding: 0 20px;
  font-size: 12px;
}

.partsFormOne .partsFormInner input, .partsFormOne .partsFormInner select{
  padding-left: 20px;
  padding-right: 20px;
}

.partsFormOne .partsFormInner select{
  color: #85868b !important;
}

.partsFormEditFormHolder .partsFormInner h5{
  padding-left: 29%;
  width: fit-content;
  margin-top: 20px;
}

.editPartsBtn{
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  transform: translateX(42%);
  margin: 20px 0;
  font-size: 14px;
}

.closePartTable{
  position: absolute;
  right: 32.5%;
  top: 8%;
  cursor: pointer;
  z-index: 101;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
}